html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background: #000; */

  font-family: sans-serif;
}
.landing {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.landing .audio {
  width: 15rem;
  margin-bottom: 2rem;
}
.landing .title {
  width: 62.5%;
}
.landing .button {
  width: 10rem;
  position: relative;
}
.landing .button:after {
  content: "DEMARER L'EXPLORATION";
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 100%;
  text-align: center;
  font-size: 0.9rem;
}
.landing .paragraphe {
  width: 15rem;
  margin-bottom: 2rem;
  display: flex;
  text-align: center;
  font-size: 0.75rem;
  position: relative;
}
